<html>
    <head>
        <title>Vue sample</title>
    </head>
    <body>
        <div id="app">
            <button>app</button>
            <child-component v-bind:passed-data="passedData"></child-component>
        </div>
        <script src="https://unpkg.com/vue@2.3.3"></script>
        <script>
            Vue.component('child-component',{
                props: ['passedData'],
                template: '<p>{{ passedData }}</p>'
            });
            let app = new Vue({
                el: '#app',
                data: {
                    passedData: 'pass?',
                },
            });
        </script>
    </body>
</html>